{% extends "base.html" %}
{% load static %}


{% block content %}
    

<style>
#div{
    margin-top: 100px;
    margin-bottom: 150px;
}
   
</style>
   <div class="container" id="div"> 
      
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            We have emailed you the settings code if your account exist with the email you 
            entered you will recieve the message shortly. <a href="#" class="alert-link">Alert Link</a>.
        </div>

        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
           
            If you don't recieve the email kindly check the email address you provided maybe
            it is your email that you register with,Thank you we love you! <a href="#" class="alert-link">Alert Link</a>.
        </div>
       

            

<a href="{% url 'index'%}"><button class="btn btn-success">Return to Homepage</button> </a>
       </div>
   </div>
{% endblock content %}
    