{% extends "base.html" %}
{% load static %}
{% block content %}
  

<style>
#footer{
    margin-top:100px;
}

#form{
    margin-top:100px;
}

#reset{
    font-size: 30px;
    font-family: Arial black;
    font-weight: 100;
}

#div_form{
    text-shadow: 1px 1px black;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.383);
}

</style>

<center>

<div class="jumbotron" id="div_form" style="background-color:transparent;
margin-top:110px;margin-bottom:130px;max-width:400px;border-radius:5px;">

    <form action="" method="POST">

        {% csrf_token %}

        <h3 id="reset" style="color: rgb(5, 5, 70);margin-bottom:20px;text-align:center;">Reset Password</h3>

        <div class="form-inline">
            <!-- <label for="email">Email address:</label> -->
            <!-- <input type="email" class="form-control" id="email"> -->
            <input type="email" name="email" id="email" class="form-control" placeholder="email" required >
           
            <input type="submit" data-toggle="modal" data-target="#myModal" name="submit" value="Submit" class="btn btn-success" id="submit">
        </div>
    </form>
    <!-- <button class="btn btn-primary btn-lg" ">
        Launch Demo Modal
    </button>
     -->
    {% if email is not  None %}


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    We have emailed you the settings code if your account exist with the email you 
                    entered you will recieve the message shortly.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
        
    {% endif %}
        
</div>
</center>
{% endblock content %}

