{% extends "Nurse/Nurse_base.html" %}
{% load static %}



{% block content %}
    <!--quick info section -->
    <div class="col-lg-3">
        <div class="alert alert-danger text-center">
            <i class="fa fa-calendar fa-3x"></i>&nbsp;<b>20 </b>Meetings Sheduled This Month

        </div>
    </div>

    <div class="col-lg-3">
        <div class="alert alert-success text-center">
            <i class="fa  fa-beer fa-3x"></i>&nbsp;<b>27 % </b>Profit Recorded in This Month  
        </div>
    </div>

    <div class="col-lg-3">
        <div class="alert alert-info text-center">
            <i class="fa fa-rss fa-3x"></i>&nbsp;<b>1,900</b> New Subscribers This Year

        </div>
    </div>

    <div class="col-lg-3">
        <div class="alert alert-warning text-center">
            <i class="fa  fa-pencil fa-3x"></i>&nbsp;<b>2,000 $ </b>Payment Dues For Rejected Items
        </div>
    </div>
    <!--end quick info section -->
</div>



<!-- end of the first row -->


<div class="row">
<!-- Welcome  to the second row-->
<div class="col-lg-12">

<div class="col-lg-4 ">
    <div class="panel panel-primary text-center no-boder">
        <div class="panel-body green">
            <i class="fa fa-bar-chart-o fa-3x"></i>
            <h3>20,741 </h3>
        </div>
        <div class="panel-footer">
            <span class="panel-eyecandy-title">Daily User Visits
            </span>
        </div>
    </div>
</div>


<div class="col-lg-4">
    <div class="panel panel-primary text-center no-boder">
        <div class="panel-body yellow">
            <i class="fa fa-thumbs-up fa-3x"></i>
            <h3>20,741 </h3>
        </div>
        <div class="panel-footer">
            <span class="panel-eyecandy-title">New User Registered
            </span>
        </div>
    </div>
</div>


<div class="col-lg-4">
    <div class="panel panel-primary text-center no-boder">
        <div class="panel-body red">
            <i class="fa fa-pencil-square-o fa-3x"></i>
            <h3>20,741 </h3>
        </div>
        <div class="panel-footer">
            <span class="panel-eyecandy-title">Pending Orders Found
            </span>
        </div>
    </div>
</div>




</div>
</div>
</div>

{% endblock content %}
    