{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block title %}   <title>Nurse Dashboard</title> {% endblock title %}
    
    <!-- Core CSS - Include with every page -->
    <link href="{% static 'assets/plugins/bootstrap/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/font-awesome/css/font-awesome.css'%}" rel="stylesheet" />
    <link href="{% static 'assets/plugins/pace/pace-theme-big-counter.css'%}" rel="stylesheet" />
    <link href="{% static 'assets/css/style.css'%}" rel="stylesheet" />
    <link href="{% static 'assets/css/main-style.css'%}" rel="stylesheet" />
    <!-- Page-Level CSS -->
    <link href="{% static 'assets/plugins/morris/morris-0.4.3.min.css'%}" rel="stylesheet" />
   </head>

   <style>

    #navbar{
        background-color: rgb(7, 7, 43);
    }

    #sidebar{
        background-color: rgb(7, 7, 43);
    }

    #side-menu{
        background-color: rgb(7, 7, 43);
    }
    #mighty{
        color: white;
        border:1px 1px groove slategray;
    }
   </style>
<body>
    <!--  wrapper -->
    <div id="wrapper">
        <!-- navbar top -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            <!-- navbar-header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><h2 id="mighty">MIGHTY</h2>
                    <!-- <img src="{% static 'assets/img/logo.png'%}" alt="" /> -->
                </a>
            </div>
            <!-- end navbar-header -->
            <!-- navbar-top-links -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- main dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="top-label label label-danger">{{patient_count}}</span><i class="fa fa-envelope fa-3x"></i>
                    </a>
                    <!-- dropdown-messages -->
                    <ul class="dropdown-menu dropdown-messages">
                       
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                {% for pat in patient %}
                                <div>
                                    <strong><span class=" label label-success">{{pat.patient.firstname}}</span></strong>
                                    <span class="pull-right text-muted">
                                        <em>{{pat.date_added}}</em>
                                    </span>
                                </div>
                                <div>{{pat.patient.possible_diagnosis }}</div>
                                {% endfor %}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- end dropdown-messages -->
                </li>
            
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-3x"></i>
                    </a>
                    <!-- dropdown user-->
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i>User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i>Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{%url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                        </li>
                    </ul>
                    <!-- end dropdown-user -->
                </li>
                <!-- end main dropdown -->
            </ul>
            <!-- end navbar-top-links -->

        </nav>
        <!-- end navbar top -->

        <!-- navbar side -->
        <nav class="navbar-default navbar-static-side" id="sidebar" role="navigation">
            <!-- sidebar-collapse -->
            <div class="sidebar-collapse" id="sidebar">
                <!-- side-menu -->
                 <ul class="nav" id="side-menu">
                    <li>
                    <!-- user image section -->
                        <div class="user-section" style="background-color: slategray;">
                            <div class="user-section-inner">
                                <img src="{% static 'pictures/user.png'%}" alt="">
                            </div>

                            <div class="user-info">
                                <div> <strong>Nurse <span>.</span></strong> {{nurse_name}} </div>
                                <div class="user-text-online">
                                    <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online
                                </div>
                           </div>
                        </div> -->
                        <!--end user image section-->
                    </li>
                    <li class="sidebar-search">
                        <!-- search section-->
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!--end search section-->
                    </li>
                    <li class="selected" style="background-color: slategray;">
                        <a href="#"><i class="fa fa-dashboard fa-fw "></i>Dashboard</a>
                    </li>                     
                        <!-- second-level-items -->
                    
                     <!-- <li>
                        <a href="#"><i class="fa fa-plus fa-fw"></i>My profile</a>
                    </li> -->
                    <li>
                        <a href="{% url 'MyPatient'%}"><i class="fa fa-plus fa-fw"></i>My Patient</a>
                    </li>
                    <li>
                        <a href="{% url 'MyDischargePatient'%}"><i class="fa fa-edit fa-fw"></i>View Discharged Patient</a>
                    </li>
                   
                            <li>
                                <a href="{% url 'MyDPatient'%}"><i class="fa fa-edit fa-fw"></i>View Dead Patient</a>
                            </li>

                            <li>
                                <a href="{% url 'logout' %}"><i class="fa fa-plus fa-fw"></i>Logout</a>
                            </li>
                        
                            <!-- <li>
                                <a href="{% url 'AssignNurse' %}"><i class="fa fa-edit fa-fw"></i> View Assign Nurse</a>
                            </li> --> 
                        </ul>
            
                    <!-- </div>
            </div> -->
        </nav>
    </div>
    
        <div id="page-wrapper">

            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header " style="color: rgb(9, 9, 34);">Dashboard</h1>
                </div>
                <!--End Page Header -->
            </div>


            <div class="row">
                <!-- Welcome -->
                <div class="col-lg-12">
                    <div class="alert alert-info">
                        <i class="fa fa-folder-open"></i><b>&nbsp;Hello ! </b>Welcome Back <b>Nurse.{{nurse.username}} </b>
            <i class="fa  fa-pencil"></i><b>&nbsp;2,000 </b>Almost all patient are safe
                    </div>
                <!-- </div> -->
    {% block content %}


      
    {% endblock content %}
                </div>
            </div>
 
                  
         
    <!-- Core Scripts - Include with every page -->
    <script src="{% static 'assets/plugins/jquery-1.10.2.js'%}"></script>
    <script src="{% static 'assets/plugins/bootstrap/bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/plugins/metisMenu/jquery.metisMenu.js'%}"></script>
    <script src="{% static 'assets/plugins/pace/pace.js'%}"></script>
    <script src="{% static 'assets/scripts/siminta.js '%}"></script>
    <!-- Page-Level Plugin Scripts-->
    <script src="{% static 'assets/plugins/morris/raphael-2.1.0.min.js'%}"></script>
    <script src="{% static 'assets/plugins/morris/morris.js'%}"></script>
    <script src="{% static 'assets/scripts/dashboard-demo.js'%}"></script>

</body>

</html>




