{% extends 'base.html' %}
{% load static %}

<html>


{% block content %}
  

    <center>

        <h2 style="margin-top: 40px;"> About Us</h2>
        
        <div>


          <div class="image-thumbnail" style="float: left;"> 
            <img class="img-responsive" src="{% static 'pictures/banner11.jpg'%}" width="200px" alt="">      
        </div>

       <font>
           Our website is use to manage our hospital record so that we can preserve our 
           patient day to day record for future purposes.UITH hospital was established 1990
           by Holland lacklux ,he was a specialist in neareoulogy, he finish his bsc in Ahmadu Bello University
           and went to do his Phd in Standford University in Canifonia. We are the best in what we do,
           we treat our patient like our family .
           Our website is use to manage our hospital record so that we can preserve our 
           patient day to day record for future purposes.UITH hospital was established 1990
           by Holland lacklux ,he was a specialist in neareoulogy, he finish his bsc in Ahmadu Bello University
           and went to do his Phd in Standford University in Canifonia. We are the best in what we do,
           we treat our patient like our family .
           Our website is use to manage our hospital record so that we can preserve our 
           patient day to day record for future purposes.UITH hospital was established 1990
           by Holland lacklux ,he was a specialist in neareoulogy, he finish his bsc in Ahmadu Bello University
           and went to do his Phd in Standford University in Canifonia. We are the best in what we do,
           we treat our patient like our family .
           Our website is use to manage our hospital record so that we can preserve our 
           patient day to day record for future purposes.UITH hospital was established 1990
           by Holland lacklux ,he was a specialist in neareoulogy, he finish his bsc in Ahmadu Bello University
           and went to do his Phd in Standford University in Canifonia. We are the best in what we do,
           we treat our patient like our family .
           Our website is use to manage our hospital record so that we can preserve our 
           patient day to day record for future purposes.UITH hospital was established 1990
           by Holland lacklux ,he was a specialist in neareoulogy, he finish his bsc in Ahmadu Bello University
           and went to do his Phd in Standford University in Canifonia. We are the best in what we do,
           we treat our patient like our family .
           Our website is use to manage our hospital record so that we can preserve our 
           patient day to day record for future purposes.UITH hospital was established 1990
           by Holland lacklux ,he was a specialist in neareoulogy, he finish his bsc in Ahmadu Bello University
           and went to do his Phd in Standford University in Canifonia. We are the best in what we do,
           we treat our patient like our family .
           Our website is use to manage our hospital record so that we can preserve our 
           patient day to day record for future purposes.UITH hospital was established 1990
           by Holland lacklux ,he was a specialist in neareoulogy, he finish his bsc in Ahmadu Bello University
           and went to do his Phd in Standford University in Canifonia. We are the best in what we do,
           we treat our patient like our family .
           Our website is use to manage our hospital record so that we can preserve our 
           patient day to day record for future purposes.UITH hospital was established 1990
           by Holland lacklux ,he was a specialist in neareoulogy, he finish his bsc in Ahmadu Bello University
           and went to do his Phd in Standford University in Canifonia. We are the best in what we do,
           we treat our patient like our family .
           Our website is use to manage our hospital record so that we can preserve our 
           patient day to day record for future purposes.UITH hospital was established 1990
           by Holland lacklux ,he was a specialist in neareoulogy, he finish his bsc in Ahmadu Bello University
           and went to do his Phd in Standford University in Canifonia. We are the best in what we do,
           we treat our patient like our family .
           Our website is use to manage our hospital record so that we can preserve our 
           patient day to day record for future purposes.UITH hospital was established 1990
           by Holland lacklux ,he was a specialist in neareoulogy, he finish his bsc in Ahmadu Bello University
           and went to do his Phd in Standford University in Canifonia. We are the best in what we do,
           we treat our patient like our family .
           Our website is use to manage our hospital record so that we can preserve our 
           patient day to day record for future purposes.UITH hospital was established 1990
           by Holland lacklux ,he was a specialist in neareoulogy, he finish his bsc in Ahmadu Bello University
           and went to do his Phd in Standford University in Canifonia. We are the best in what we do,
           we treat our patient like our family .
           Our website is use to manage our hospital record so that we can preserve our 
           patient day to day record for future purposes.UITH hospital was established 1990
           by Holland lacklux ,he was a specialist in neareoulogy, he finish his bsc in Ahmadu Bello University
           and went to do his Phd in Standford University in Canifonia. We are the best in what we do,
           we treat our patient like our family .
           Our website is use to manage our hospital record so that we can preserve our 
           patient day to day record for future purposes.UITH hospital was established 1990
           by Holland lacklux ,he was a specialist in neareoulogy, he finish his bsc in Ahmadu Bello University
           and went to do his Phd in Standford University in Canifonia. We are the best in what we do,
           we treat our patient like our family .
           Our website is use to manage our hospital record so that we can preserve our 
           patient day to day record for future purposes.UITH hospital was established 1990
           by Holland lacklux ,he was a specialist in neareoulogy, he finish his bsc in Ahmadu Bello University
           and went to do his Phd in Standford University in Canifonia. We are the best in what we do,
           we treat our patient like our family .
           Our website is use to manage our hospital record so that we can preserve our 
           patient day to day record for future purposes.UITH hospital was established 1990
           by Holland lacklux ,he was a specialist in neareoulogy, he finish his bsc in Ahmadu Bello University
           and went to do his Phd in Standford University in Canifonia. We are the best in what we do,
           we treat our patient like our family .
       </font>



        </div>
    </center>
{% endblock content %}
</html>